<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxt.hotel.mapper.HotelInfoMapper" >
    <resultMap id="hotelInfoExtMap" type="com.zxt.hotel.pojo.HotelInfoExt" >
        <id column="hotel_id" property="hotelId" />
        <result column="name" property="name" />
        <result column="hotel_no" property="hotelNo" />
        <result column="rank" property="rank" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="county" property="county" />
        <result column="address" property="address" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="business" property="business" />
        <result column="description" property="description" />
        <result column="phone" property="phone" />
        <result column="contact_name" property="contactName" />
        <result column="create_time" property="createTime" />
        <result column="create_id" property="createId" />
        <result column="hotel_status" property="hotelStatus" />
        <result column="remark" property="remark" />
        <result column="distance" property="distance" />
    </resultMap>


    <select id="queryHotelInfoExtByPage" resultMap="hotelInfoExtMap">
        SELECT
            ROUND(
                6378.138 * 2 * ASIN(
                    SQRT(
                        POW(
                            SIN(
                                (
                                    #{query.lat} * PI() / 180 - hoi.lat * PI() / 180
                                ) / 2
                            ),
                            2
                        ) + COS(#{query.lat} * PI() / 180) * COS(hoi.lat * PI() / 180) * POW(
                            SIN(
                                (
                                    #{query.lng} * PI() / 180 - hoi.lng * PI() / 180
                                ) / 2
                            ),
                            2
                        )
                    )
                ) * 1000
            ) AS distance,
            hoi.*
        FROM
            hotel_info hoi
        WHERE 1=1
        <if test="query.name != null and query.name != ''">
            and hoi.NAME like CONCAT('%',#{query.name},'%')
        </if>
    </select>

</mapper>